body {
    font-family: helvetica;
}

h2 {
    font-size: 14px;
    font-style: bold;
}

h3 {
    font-size: 10px;
    font-style: italic;
}

ul {
    font-family: monospace;
}

button {
    background-color: aqua;
    color: blue;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
}
